@charset "utf-8";

body {
	font-family:"Verdana", "Tahoma", "Georgia", "Arial", "宋体";
	font-size:12px;
	padding: 0px;
	margin:0px auto;
	width:98%;
}

a {
	COLOR: #2f5fa1;
	TEXT-DECORATION: none
}

a:hover { TEXT-DECORATION: underline }

.gray { COLOR: #555555 }
.floatright { float:right; }

.errorMessage {
	font-size:15px;
	color:red;
	margin-top:4px;
}

.banner {
	background:#457D99;
}

.showlogin {
	BACKGROUND: #e0f0f9; PADDING-BOTTOM: 3px;	COLOR: #004c7d;	PADDING-TOP: 5px;BORDER-BOTTOM: #dbecf4 4px solid;
	margin-bottom:14px;padding-left:10px;
}

.position {
	line-height:25px;
	border:1px solid #bbd6f1;
	margin:0 auto;
	text-indent:3px;
	margin-bottom:12px;
}

.tb {
	background-color:#aed6ff; width:100%; border:none; 
}

.tb tr{
	background-color: #FFF;
	}
	
.tb th{
	font-size:13px;
	height:20px; text-align:left; background:#e0f0f9; color:#2f5fa1;
	border-bottom:solid #D9ECF2 4px; border-left:1px solid #FFF; border-top:#FFF solid 1px; border-right:#FFF solid 1px;
	padding-top:4px; padding-left:4px;
	}
.tb fieldset{
	margin:1% 20% 0% 20%;border:1px solid #D4EFF7;padding-bottom:15px;font-size:10px;
}

.tb legend{
	padding:0 5px 0 5px;
}

.trtitle {
	BACKGROUND: #f3f8ef;text-align:center;
}

.fgnote {
	MARGIN-TOP:5px;
	MARGIN-BOTTOM:10px;
	font-size:10pt;
	color:#3C3C3C;
}

.fgmaster {
	MARGIN-TOP:5px;
	MARGIN-BOTTOM:2px;
	font-size:10pt;
	color:#3C3C3C;
}

.fgtopic { line-height:20px; }

.tpcTitle {
	width:270px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.txtbtn a {padding: 1px 6px 1px 10px; background-color:#9BBAE6;color: #fff; text-decoration: none;}
.txtbtn a:hover, #suggested_tags_panel a.added {background-color: #f87b00;}


/*pages*/
.pages {
	margin:3px 0;
	font:11px/12px Tahoma
}

.pages * { vertical-align:middle; }

.pages a {
	padding:1px 4px 1px;
	border:1px solid #97C7F7;
	margin:0 1px 0 0;
	text-align:center;
	text-decoration:none;
	font:normal 12px/14px verdana;
}

.pages a:hover {
	border:#659b28 1px solid;
	background:#f3f8ef;
	text-decoration:none;
	color:#004c7d
}

.pages input {
	margin-bottom:0px;
	border:1px solid #659b28;
	height:15px;
	font:bold 12px/15px Verdana;
	padding-bottom:1px;
	padding-left:1px;
	margin-right:1px;
	color:#659b28;
}