@charset "utf-8";

body {
	font-family:"Verdana", "Tahoma", "Georgia", "Arial", "宋体";
	font-size:12px;
	padding: 0px;
	margin:0px auto;
	width:98%;
}

a {
	COLOR: #2f5fa1;
	TEXT-DECORATION: none
}

a:hover { TEXT-DECORATION: underline }

.gray { COLOR: #555555 }
.floatright { float:right; }

.errorMessage {
	font-size:15px;
	color:red;
	margin-top:4px;
}

.banner {
	background:#457D99;
}

.showlogin {
	BACKGROUND: #e0f0f9; PADDING-BOTTOM: 3px;	COLOR: #004c7d;	PADDING-TOP: 5px;BORDER-BOTTOM: #dbecf4 4px solid;
	margin-bottom:14px;padding-left:10px;
}

.position {
	line-height:25px;
	border:1px solid #bbd6f1;
	margin:0 auto;
	text-indent:3px;
	margin-bottom:12px;
}

.tb {
	background-color:#B9C7D2; width:100%; border:none; 
}

.tb tr{
	background-color: #FFF;
	}
	
.tb th{
	font-size:13px;
	height:20px; text-align:left; background:#e0f0f9; color:#2f5fa1;
	border-bottom:solid #D9ECF2 4px; border-left:1px solid #FFF; border-top:#FFF solid 1px; border-right:#FFF solid 1px;
	padding-top:4px; padding-left:4px;
	}
.tb fieldset{
	margin:1% 20% 0% 20%;border:1px solid #D4EFF7;padding-bottom:15px;font-size:10px;
}

.tb legend{
	padding:0 5px 0 5px;
}

.trtitle {
	BACKGROUND: #f3f8ef;text-align:center;
}

.fgnote {
	MARGIN-TOP:5px;
	MARGIN-BOTTOM:10px;
	font-size:10pt;
	color:#3C3C3C;
}

.fgmaster {
	MARGIN-TOP:5px;
	MARGIN-BOTTOM:2px;
	font-size:10pt;
	color:#3C3C3C;
}

.fgtopic { line-height:20px; }

.tpcTitle {
	width:270px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
